@media (max-width: 466px) { 
    .bokSection{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
    .bokSection div{
        
        margin-bottom:10px;
    }
  
  
    .bookWidth{
        width: 32%;
    }
  
  
    .bokMain{
        height:100vh;
   }
  
  
   .footer-text{
    font-size: 10px;
    
   }
  
   .bookCard{
       /* Adjust as needed */
      height: 28vh; 
   }
  
   .card-back{
    font-size: 10px;
   }
  
  }
  
  @media (min-width: 466px) { 
    .bokSection{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }
  
    .bokSection div{
        
        margin-top:30px ;
    }
  
  
    .bookWidth{
        width: 21%;
    }
  
    .bookCard{
      /* Adjust as needed */
     height: 55vh; 
  }
  
  
    .bokMain{
      
        height:80vh;
   }
  
  }
  
  
  
  @media (min-width: 760px) { 
    .bokSection{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }
  
    .bokSection div{
        margin-top: -1px;
    }
  
  
    .bookWidth{
        width: 18%;
    }
  
    .bookCard{
      /* Adjust as needed */
     height: 48vh; 
  }
  
  
    .bokMain{
      
        height:80vh;
   }
  
  }
  
  
  @media (min-width: 761px) { 
    .bokSection{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }
  
    .bokSection div{
        margin-top: 10px;
    }
  
  
    .bookWidth{
        width: 28%;
    }
  
    .bookCard{
      /* Adjust as needed */
       height: 48vh; 
    }  
  
    .bokMain{
      
        height:90vh;
   }
  
  }
  
  
  @media (min-width: 1000px) { 
    .bokSection{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }
  
    .bokSection div{
        margin-top: 5px;
    }
  
  
    .bookWidth{
        width: 28%;
    }
  
    .bookCard{
      /* Adjust as needed */
     height: 63vh; 
  }
  
  
    .bokMain{
      
        height:80vh;
   }
  
  }
  
  
  
  
  @media (min-width: 1100px) { 
    .bokSection{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        
    }
  
    .bokSection div{
        margin-top: -1px;
    }
  
  
    .bookWidth{
        width: 18%;
    }
  
    .bookCard{
      /* Adjust as needed */
     height: 55vh; 
  }
  
  
    .bokMain{
      
        height:80vh;
   }
  
  }